@model List<CoreAndFood.Data.Models.Food>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Food List</h1>
<br />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Food Name</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Category Name</th>
        <th>Delete</th>
        <th>Update</th>
        <th>Details</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.FoodId</th>
            <td>@item.FoodName</td>
            <td>@item.Price</td>
            <td>@item.Stock</td>
            <td>@item.Category.CategoryName</td>
            <td><a href="#" class="btn btn-danger">Delete</a></td>
            <td><a href="#" class="btn btn-success">Update</a></td>
            <td><a href="#" class="btn btn-info">Details</a></td>
        </tr>
    }
</table>
<a href="/Food/AddFood/" class="btn btn-primary">Add New Food</a>


