@model CoreAndFood.Data.Models.Category
@{
    ViewData["Title"] = "CategoriesGet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Category Add Page</h1>
<br />
@using (Html.BeginForm("CategoriesUpdate", "Categories", FormMethod.Post))
{
    @Html.LabelFor(x=>x.CategoryId)
    @Html.TextBoxFor(x=>x.CategoryId, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x=>x.CategoryName)
    @Html.TextBoxFor(x=>x.CategoryName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x=>x.CategoryName,"",new { @style = "color: red" })
    ;
    <br />
    @Html.LabelFor(x=>x.Description)
    @Html.TextBoxFor(x=>x.Description, new { @class = "form-control" })
    <br />
    <button class="btn btn-warning">Update</button>
}


